@{
    ViewData["Title"] = "Calculadora";
}

    <div class="text-center">
        <h1 class="display-4">Calculadora</h1>
        <br /><br />


        <!--Isto é uma linha de comentário -->
        @* e isto é outra linha de comentário
        Este comentário não aparece no browser*@

        <!--Calculadora -->

        <form>
            <table>
                <tr>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <input type="submit" name="" value="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                </tr>
        </form>


        </table>

    </div>
